@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br /><br /><br />
    <form action="/Home/Index" method="post" class="row g-3">
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">مبلغ: </label>
            <input name="Amount" class="form-control" value="10000" type="number" />
            <br />
            <button class="btn btn-primary" type="submit">ارسال</button>
            <br />
            <br />
            <div class="alert alert-primary" role="alert">
                @ViewBag.Message
            </div>
        </div>
    </form>
    <br /><br /><br />
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
